@{
    ViewData["Title"] = "Statistiky";
}

<p>Statistiky</p>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" enctype="multipart/form-data">
          
           

            <button type="submit" value="Upload" class="btn btn-default">Nahrať</button>
        </form>
    </div>
</div>
