

@{
    ViewData["Title"] = "Vyhladavanie";
}

<!--<table id="dovednosti"></table>-->
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post">
            <h4>Vyhladavanie semestralnych prac podla tagov(key values)</h4>

            <div class="text-danger"></div>
            <div class="form-group">
                <label>1.tag</label>
                <select size="1">
                    <option value="0" selected></option>
                    <option value="1">1. moznost</option>
                    <option value="2">2. moznost</option>
                    <option value="3">3. moznost</option>
                    <option value="4">4. moznost</option>
                    <option value="5">5. moznost</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--   <label>1.tag</label>-->
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>2.tag</label>
                <select size="1">
                    <option value="0" selected></option>
                    <option value="1">1. moznost</option>
                    <option value="2">2. moznost</option>
                    <option value="3">3. moznost</option>
                    <option value="4">4. moznost</option>
                    <option value="5">5. moznost</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">

                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>3.tag</label>
                <select size="1">
                    <option value="0" selected></option>
                    <option value="1">1. moznost</option>
                    <option value="2">2. moznost</option>
                    <option value="3">3. moznost</option>
                    <option value="4">4. moznost</option>
                    <option value="5">5. moznost</option>

                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">

                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Vyhladat</button>
        </form>
    </div>
</div>
